.projectsContainer {
    display: flex;
    flex-direction: column;
    gap: 48px;
    width: 80%;

}

.singleProjectContainer {
    display: flex;
    flex-direction: column;
    gap: 48px;
    border: 1px solid black;
}

.singleProjectContainer h1 {
    color: blue;
}

.singleProjectsCards {
    display: flex;
    flex-direction: row;
    gap: 24px;
    border: 1px solid black;

}

.singleProject {
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
    padding: 12px 24px;
    border: 1px solid black;
}

.singleProject h5 {
    text-align: justify;
}

.singleProject img {
    width: 178px;
    height: 178px;
}

.tag {
    color: blue;
}