.projectsContainer {
    display: flex;
    flex-direction: column;
    gap: 48px;
    width: 80%;

}

.singleProjectContainer {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin:12px;
}

.singleProjectContainer h1 {
    color: blue;
    font-size: 24px;
}

.singleProjectsCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;

}

.singleProject {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    align-items: center;
    padding: 12px 24px;
    border-radius: 12px;
    box-shadow: 0px 0px 0px 1px rgba(0,0,255,0.73);
    background-color: white;
}

.singleProject h5 {
    text-align: justify;
    padding: 12px 24px;
}


.singleProject img {
    width: 244px;
    height: 244x;
    margin: 12px;
}

.tag {
    color: blue;
}

#categoryTitle {
    font-size: 48px;
}